.work-modal .modal-content {
    background-color: #0e0920 !important;
}

.work-modal {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal-header {
    position: absolute;
    right: 0;
    border: none;
    z-index: 99999;
}

.modal-header .btn-close {
    filter: invert(1) brightness(200%);
}

.modal-header .btn-close:hover,
.modal-header .btn-close:focus {
    box-shadow: none;
}