.dark-card {
    --spotlight-color: #4e35b450;
}

.light-card {
    --spotlight-color: rgba(83, 195, 255, 0.32);
}

.card-spotlight {
    position: relative;
    clip-path: inset(0);
    --mouse-x: 50%;
    --mouse-y: 50%;
    min-height: 100vh;
}

.card-spotlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 70vh);
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.6;
}